<div id="介绍">
    <h2 style="border-bottom: 1px solid #ddd;padding-bottom: .5rem;">
        介绍
    </h2>
    <p>
        View.js 是一套构建用户界面的渐进式框架。与其他重量级框架不同的是，View 采用自底向上增量开发的设计。
        View 的核心库只关注视图层，它不仅易于上手，还便于与第三方库或既有项目整合。
        另一方面，当与单文件组件和 View 生态系统支持的库结合使用时，View 也完全能够为复杂的单页应用程序提供驱动。
        如果你是有经验的前端开发者，想知道 View.js 与其它库/框架的区别，查看对比其它框架
    </p>
</div>

<div id="开始">
    <h2 style="border-bottom: 1px solid #ddd;padding-bottom: .5rem;">
            开始
    </h2>
    <pre>
    <code class="html">
    &lt;span id=&quot;msg&quot;&gt;Message: {{ msg }}&lt;/span&gt;
    </code>
    </pre>
    <pre>
    <code class="code">
    new View({
        view: "span#msg",
        model: {
            msg: "输入点什么?"
        }
    });
    </code>
    </pre>
    <pre>
    <code class="text">
    输入点什么?
    </code>
    </pre>
</div>