<!DOCTYPE html>
<html>

<head>
  <title>main.html</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="http://www.kendoui.io/plugins/kendoui/2016.1.412/styles/kendo.common.min.css" />
  <link rel="stylesheet" type="text/css" href="http://www.kendoui.io/plugins/kendoui/2016.1.412/styles/kendo.bootstrap.min.css" />
  <script type="text/javascript" src="../../release/view.js"></script>
  
</head>
<!-- 项目文档地址  https://github.com/sensese/sense -->

<body>
  <div class="k-grid k-widget" style="height:600px;margin:0 auto;">
    <div class="k-grid-header">
      <table style="width: 100%;" >
        <tr>
          <th each="item:columns" class="k-header" style="text-align:center">
            {{item}}
          </th>
          <th class="k-header" style="text-align:center">
            操作项
          </th>
        </tr>
      </table>
    </div>
    <div class="k-grid-content k-auto-scrollable" style="height:562px;">
      <table style="width: 100%;" class="k-grid">
        <tbody class="k-tbody-edit">
          <tr each="item:id:list" class="{{id%2?'':'k-alt'}}">
            <td each="col:item" style="text-align:center">
              @when(edit===id,{
                <input value="{{col}}" id="{{id}}" style="width: 100%;border-width: 0px;background-color:rgba(255, 255, 255, 0);"/> @else {{col}}
              })
            </td>
            <td style="text-align:center">
                <span class="k-button k-button-icontext k-grid-add">添加</span>
                <span class="k-button k-button-icontext k-grid-edit" id="{{id}}">
                  @when(edit===id,{
                    保存 @else 编辑
                  })
                </span>
                <span class="k-button k-button-icontext k-grid-delete" id="{{id}}">删除</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
<script type="text/javascript">
  new view({

      view: "body",

      model: {

        edit: false,

        columns: {

          "id": "编号",

          "username": "用户名"

        },

        list: [{

          "id": 10000,

          "username": "user-0"

        }]

      },

      controller: function (model) {

        query("tbody.k-tbody-edit").on("click", 'span.k-grid-add', function () {

          var data = [];

          for (var i = 0; i <3; i++) {

            data.push({

              "id": data.length,

              "username": "user-" + data.length

            });

          }

          model.list = data;

        });

        query("tbody.k-tbody-edit").on('click', 'span.k-grid-delete', function () {

          model.list.splice(this.id, 1);

        });

        query("tbody.k-tbody-edit").on('click', 'span.k-grid-edit', function () {

          model.edit = model.edit ? false : this.id;

        });

      }

    });
</script>
</html>