<!DOCTYPE html>
<html>

<head>
  <title>main.html</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.common.min.css" rel="stylesheet" />
  <link href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.silver.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>

<body>
  <div class="k-grid k-widget" style="margin:0 auto;">
    <div class="k-grid-header" v-bind:style="[list[0]?'block':'none']">
      <table style="width: 100%;">
        <thead>
          <tr>
            <th v-for="item in columns" class="k-header" style="border-width: 0 0 0px 1px;">
              {{item}}
            </th>
            <th class="k-header" style="border-width: 0 0 0px 1px;">
              操作项
            </th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="k-grid-content k-auto-scrollable" style="height:602px;">
      <table style="width: 100%;" class="k-grid">
        <tbody class="k-tbody-edit">
          <tr v-for="(item,id) in list" v-bind:class="[id%2?'k-alt':'']">
            <td v-for="col in item">
              <div v-if="edit===id">
                <input v-bind:id="id" v-model="col" style="border-width: 0px;background-color: rgba(255, 255, 255, 0);width:100%;height:20px">
              </div>
              <div v-sle>
                {{col}}
              </div>
            </td>
            <td>
              <span class="k-button k-button-icontext k-grid-add" @click="add()">添加</span>
              <span class="k-button k-button-icontext k-grid-edit" v-bind:id="id" @click="edit1()">
                <div v-if="edit===id">
                  保存
                </div>
                <div v-sle>
                  编辑
                </div>
              </span>
              <span class="k-button k-button-icontext k-grid-delete" v-bind:id="id" @click="del(this.id)">删除</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
<script type="text/javascript">
  var grid = new Vue({
    el: ".k-grid",
    data: {
      edit: true,
      columns: {
        "id": "档案编号",
        "age": "门店名称",
        "username": "借款人",
        "address": "住址"
      },
      list: [{
        "id": 10000,
        "age": "宁波店",
        "username": "小小的-0",
        "address": "未知"
      }]
    },
    methods: {
      add: function () {
        var data = [];
        for (var i = 0; i < 1000; i++) {
          data.push({
            "id": 10000 + data.length,
            "age": "宁波店" + data.length,
            "username": "小小的-" + data.length,
            "address": "西湖区-" + data.length
          })
        }
        this.list = data;
      },
      edit1: function (id) {
        this.edit = this.edit == id ? "edit" : id;
      },
      del: function (id) {
        this.list.splice(id, 1);
      }
    }
  });


</script>

</html>