body{
    overflow-y: scroll;
}

.nav-header {
	background-color: rgb(255, 255, 255);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
	transition: background-color 0.3s ease-in-out;
}

.nav-list {
    position: fixed;
    right: calc(100vw*0.25-200px);
	width: 200px;
}

.search-form {
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	padding: 0 15px 0 0px;
	border: 1px solid #e3e3e3;
	color: #2c3e50;
	outline: none;
	border-radius: 15px;
	margin-right: 10px;
	transition: border-color 0.2s ease;
	background: #fff url(../images/search.png) 8px 5px no-repeat;
	background-size: 20px;
	vertical-align: middle !important;
}

.search-btn {
	height: 28px;
	line-height: 28px;
	box-sizing: border-box;
	border: 0px;
	color: #2c3e50;
	outline: none;
	border-radius: 15px 0px 0px 15px;
	margin-right: 1px;
	transition: border-color 0.2s ease;
	background: #fff;
	vertical-align: middle !important;
}

.search-input {
	height: 28px;
	line-height: 28px;
	box-sizing: border-box;
	border: 0px;
	color: #2c3e50;
	outline: none;
	transition: border-color 0.2s ease;
	vertical-align: middle !important;
}

main {
	background-color: rgba(255, 255, 255, 0.555);
	height: calc(100vh - 96px);
	margin-top: 56px;
}

.col-main {
	padding-top: 50px;
	background-color: rgb(255, 255, 255);
	border-right: 1px solid rgba(0, 0, 0, 0.082);
	transition: background-color 0.3s ease-in-out;
	min-height: calc(100vh - 96px);
}

footer {
	text-align-last: center;
	padding: 20px 20px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
	transition: background-color 0.3s ease-in-out;
	background-color: rgb(255, 255, 255);
}

.navbar-brand {
	margin-left: 150px;
}

.tab-pane {
	max-width: 800px;
	margin: 0px auto;
}

.nav-left {
	height: calc(100vh - 96px);
	border-right-width: 1px;
	border-right-color: rgba(233, 225, 225, 0.5);
}

.html:before {
	content: "HTML:";
	color: rgba(150, 148, 148, 0.555);
}

.code:before {
	content: "JS:";
	color: rgba(150, 148, 148, 0.555);
}

.text:before {
	content: "show:";
	color: rgba(150, 148, 148, 0.555);
}

.tab-pane {
	margin-bottom: 100px;
}