<div>
<h6 id="条件分支">
    条件分支 @else

</h6>
<pre>
    <code class="html">
    &lt;div id=&quot;msg&quot;&gt;
        @when(show,{
            &lt;span&gt;Message: {{ msg }}&lt;/span&gt;
            @else
            hello wold ！
        })
    &lt;/div&gt;
    </code>
</pre>
<pre>
    <code class="code">
    new View({
        view: "div#msg",
        model: {
            msg: "输入点什么?",
            show : true
        }
    });
    </code>
</pre>
<pre>
    <code class="text">
    hello wold ！
    </code>
</pre>
</div>