
<div>
<h6 id="用户输入">
    用户输入
</h6>
<pre>
    <code class="html">
    &lt;div id=&quot;input&quot;&gt;
        &lt;div&gt; {{text}} &lt;/div&gt;
        &lt;input value=&quot;{{text}}&quot;/&gt;
    &lt;/div&gt;
    </code>
</pre>
<pre>
    <code class="code">
    new View({
        view: "div#input",
        model: {
            text:"输入点什么?"
        }
    });
    </code>
</pre>
    <code>
    <div id="input">
        <div> {{ text }} </div>
        <input class="form-control" value="{{text}}" />
    </div>
    <script>
        new view({
            view: "div#input",
            model: {
                text: "输入点什么?"
            }
        });
    </script>
    </code>
</div>